.wrapper {
  margin: 0 auto;
	max-width: $grid-width;
	min-width: 250px;
  padding-left: $spacing;
  padding-right: $spacing;
  position: relative;
  z-index: 1;

	&--small {
		max-width: $grid-small-width;
	}

	&--full {
		max-width: 100%;
	}
}
