/*------------------------------------*\
    #COLOR PALETTE
\*------------------------------------*/

$_blue	 					: #4e89fe;
$_red	 					  : #e57272;

$_gray--dark			: #39435b;
$_gray						: #aaafbc;
$_gray--light			: #dfe3ea;
$_gray--lighter		: #f4f5f9;

$_white						: #fff;
$_black						: #333;

$_red		   				: #e93e3a;
$_green					  : #7ea511;

/*------------------------------------*\
    #FUNCTIONAL COLORS
\*------------------------------------*/


$color-primary              : #333;
$color-primary-text         : #fff;

$color-secondary            : #aaa;
$color-secondary-text       : #333;

$color-text					        : #333;
$color-text--light          : #fff;

$color-links                : $_black
