//  BREAKPOINTS

$screen-sm: 360px;
$screen-md: 640px;
$screen-lg: 960px;
$screen-xl: 1280px;

// GRID

$grid-width: 80rem; // Grids max-width
$grid-small-width: 50rem; // Grids max-width
$gutter: 20px;
