/*------------------------------------*\
    #VARS
\*------------------------------------*/

// Spacing
$spacing--medium      : 20px;
$spacing              : 25px;
$spacing--large       : 50px;
$spacing--xlarge      : 75px;
$spacing--xxlarge     : 100px;
$spacing--xxxlarge    : 150px;
$spacing--small       : 10px;
$spacing--xsmall      : 5px;
$spacing--xxsmall     : 1px;

// Border-radius
$border-radius		    : 3px;
$border-width         : 1px;
