.section {
	padding: $spacing--large 0;
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
  @include query-min($screen-lg) {
    padding: $spacing--xxlarge 0;
  }

	&--light {
		background-color: $_gray--lighter;
	}

	&--primary {
		background: linear-gradient(160deg, #fd2a89 0%, #e93e3a 100%);
	}

  &--cards {
    padding-top: $spacing;
    @include query-min($screen-lg) {
      padding-top: $spacing--large;
    }
    @include query-min($screen-xl) {
      padding-top: $spacing--xxlarge;
    }
  }

	&__footer {
		text-align: center;
		margin-top: $spacing;
	}

}
