#skiptocontent a {
    padding: 6px;
    position: absolute;
    top: -80px;
    left:50%;
	transform: translateX(-50%);
    color: $color-text;
    background: transparent;
    -webkit-transition: top 0.2s ease-out, background 0.2s linear;
    transition: top 0.2s ease-out, background 0.2s linear;
    z-index: 100;
    text-align: center;
}

#skiptocontent a:focus {
    position: absolute;
    top: 0px;
    background: $color-secondary;
    outline-color: white;
}

#maincontent:focus {
	outline:none;
}
