.tooltip {
	display: inline-block;
	position: absolute;
	z-index: 10;
	bottom: $spacing--medium;
	background: $_white;
	padding: $spacing--small  $spacing;
	border-radius: 3px;
	@extend .h4;
	margin-bottom: 0;
	color: $_gray--dark;
	white-space: nowrap;
	right: 0;
	transform: translateX(50%);
	box-shadow: 1px 3px 15px rgba($_black, 0.2);

	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: $_white  transparent  transparent  transparent;
	}
}
